:root {
  --color-white-pure: #fff;
  --color-black-pure: #000;
  --color-black-900: #191818;
  --color-tv-primary: #8d847f;
  --color-tv-secondary: #aea39f;
  --color-tv-border: #60605d;
  --color-tv-primary-dark: #3e3933;
  --color-tv-glass-off: #a6aeb1;
  --color-tv-glass-border: #5d6b6b;
  --color-tv-power-indicator: #e41516;
  --color-game-splash-screen-coin: #dfc027;
  --color-game-splash-screen-coin-border: #c8900d;
  --color-game-select-game-screen-background: #396eb4;
  --color-game-select-game-screen-title: #dfc027;
  --color-cartrigde-primary: #8c868a;
  --color-cartridge-secondary: #706f6d;
  --color-cartridge-secondary-dark: #4a4947;
  --color-snes-primary: #ced6d3;
  --color-snes-secondary: #94999d;
  --color-snes-border: #777784;
  --color-snes-button: #7321bc;
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-minus-45 {
  transform: rotate(-45deg);
}

.flip-x {
  transform: scale(-1, 1);
}

.flip-y {
  transform: scale(1, -1);
}

html {
  font-size: calc((100vw / 1920) * 10);
}

/* @media (max-width: 1024px) {
  html {
    font-size: calc((100vw / 1024) * 10);
  }
}

@media (max-width: 428px) {
  html {
    font-size: calc((100vw / 428) * 10);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

header {
  width: 100%;
  text-align: center;
  font-family: 'VT323', monospace;
  background-color: var(--color-black-900);
  color: var(--color-game-splash-screen-coin-border);
  padding: 0.1rem 0;
}

header h1 {
  font-size: 8rem;
}

header h2 {
  font-size: 6rem;
}

header p {
  font-size: 3rem;
}

header div {
  height: 1rem;
  width: 0%;
  margin-top: 1rem;
  background-color: var(--color-game-splash-screen-coin-border);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  align-items: flex-end;
}

@media (orientation: portrait) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
}

.tv {
  width: 80rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv__body {
  width: 100%;
  height: 43rem;
  background-color: var(--color-tv-primary);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  display: flex;
  column-gap: 2rem;
}

.tv-body__controls {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
}

.tv-controls__speaker-area {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.tv-speaker-area__speaker-grid {
  background-color: var(--color-black-pure);
  height: 2%;
  width: 100%;
}

.tv-controls__knobs-area {
  width: 100%;
  height: 45%;
  background-color: var(--color-tv-secondary);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tv-knobs-area__knob {
  width: 65%;
  aspect-ratio: 1;
  background-color: var(--color-black-900);
  border-radius: 50%;
  border: 0.4rem solid var(--color-tv-border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tv-knob__knob-button {
  width: 60%;
  aspect-ratio: 1;
  background-color: var(--color-black-900);
  border-radius: 50%;
  border: 0.2rem solid var(--color-tv-border);
  display: flex;
  justify-content: center;
}

.tv-knob-button__button-holder {
  height: 100%;
  width: 0.6rem;
  background-color: var(--color-black-900);
  border: 0.2rem solid var(--color-tv-border);
  border-top: none;
  border-bottom: none;
}

.tv-knob-button__button-indicator {
  width: 100%;
  height: 0.4rem;
  background-color: var(--color-tv-border);
}

.tv-knob__indicator {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  background-color: var(--color-tv-border);
  position: absolute;
}

.indicator-1 {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator-2 {
  top: 25%;
  left: 25%;
  transform: translate(-100%, -100%);
}

.indicator-3 {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.indicator-4 {
  bottom: 25%;
  left: 25%;
  transform: translate(-100%, 100%);
}

.indicator-5 {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.indicator-6 {
  bottom: 25%;
  right: 25%;
  transform: translate(100%, 100%);
}

.indicator-7 {
  top: 50%;
  right: 10%;
  transform: translate(50%, -50%);
}

.indicator-8 {
  top: 25%;
  right: 25%;
  transform: translate(100%, -100%);
}

.tv-knobs-area__power-indicator {
  height: 6%;
  width: 20%;
  background-color: var(--color-tv-power-indicator);
  border: 0.2rem solid var(--color-tv-border);
}

.tv-body__screen-area {
  display: flex;
  background-color: var(--color-tv-primary-dark);
  width: 85%;
  height: 100%;
}

.tv-screen-area__border {
  width: 100%;
  height: 100%;
}

.tv-screen-area__glass {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
}

.tv-glass {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-tv-glass-off);
}

.corner-1,
.corner-3,
.corner-7,
.corner-9 {
  background: none;
}

.corner-2 {
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  border: 8px solid var(--color-tv-glass-border);
  border-bottom: none;
  transform: translateY(15%);
}

.corner-4 {
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
  border: 8px solid var(--color-tv-glass-border);
  border-right: none;
  transform: translateX(15%);
}

.corner-5 {
  border-radius: 1.4rem;
  z-index: 2;
}

.corner-6 {
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
  border: 8px solid var(--color-tv-glass-border);
  border-left: none;
  overflow: hidden;
  transform: translateX(-15%);
}

.corner-8 {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  border: 8px solid var(--color-tv-glass-border);
  border-top: none;
  overflow: hidden;
  transform: translateY(-15%);
}

.tv-screen__container {
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  position: relative;
}

.game__splash-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-splash-screen__coin {
  margin-top: 10%;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-game-splash-screen-coin);
  border: 5px solid var(--color-game-splash-screen-coin-border);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-splash-screen-coin__shimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: rgba(0,0,0,0);
}

.game-splash-screen-coin__center {
  width: 25%;
  aspect-ratio: 0.35;
  background-color: var(--color-game-splash-screen-coin-border);
}

.game-splash-screen__logo {
  color: #fff;
  border: 2px solid #fff;
  padding: 0 14px;
  border-radius: 10000px;
  margin-top: 4%;
  font-family: 'VT323', monospace;
  font-size: 1.4vw;
}

.game__intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.game__intro-screen img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.game-intro-transition__image-corner {
  background: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.box {
  pointer-events: none;
}

.game__select-game-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-game-select-game-screen-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-select-game-screen__title-container {
  position: absolute;
  top: 5%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.game-select-game-screen-title-container__title {
  font-family: 'Limelight', cursive;
  text-transform: uppercase;
  font-size: 1.5vw;
  color: var(--color-game-select-game-screen-title);
  border: 2px solid var(--color-white-pure);
  border-radius: 1000px;
  background-color: var(--color-black-pure);
  padding: 0 16px;
}

.game-select-game-screen-title-container__arrow {
  border: 2px solid var(--color-white-pure);
  background-color: var(--color-game-select-game-screen-title);
  width: 25%;
  aspect-ratio: 2;
  clip-path: polygon(0% 0, 100% 0, 50% 100%);
}

.game-select-game-screen__games-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.game-select-game-screen-games-container__carousel {
  width: 300%;
  height: 100%;
  padding-top: 22%;
  background-color: transparent;
  display: flex;
  position: relative;
  transform: translateX(-8%);
}

.game-select-game-screen__game {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5vw;

}

.game-select-game-screen__game img {
  width: 100%;
}

.game-select-game-screen__game div {
  margin-top: 10px;
  font-family: 'VT323', monospace;
  text-align: center;
  color: var(--color-game-select-game-screen-title);
  text-transform: uppercase;
}

.game-select-game-screen__game h4 {
  font-size: 1.2vw;
}

.game-select-game-screen__game p {
  font-size: 0.9vw;
}

.tv__stand {
  width: 95%;
  height: 2rem;
  background-color: var(--color-tv-primary-dark);
  border-radius: 0 0 1rem 1rem;
}

.right-side {
  width: 40rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cartridge {
  width: 30rem;
  height: 20rem;
  position: relative;
}

.cartridge:hover {
  cursor: pointer;
}

.cartridge__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  display: flex;
  align-items: flex-end;
}

.cartridge__side {
  height: 95%;
  width: 15%;
  background-color: var(--color-cartridge-secondary-dark);
  border-radius: 2px 0 0 2px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;
  position: relative;
}

.cartridge-side__part {
  height: 100%;
  background-color: var(--color-cartridge-secondary);
}

.cartridge-side__hole {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-cartridge-secondary-dark);
  position: absolute;
  bottom: 5%;
  right: 25%;
}

.cartridge__center {
  height: 100%;
  width: 70%;
  background-color: var(--color-cartrigde-primary);
  border-radius: 2px 2px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartridge-center__label {
  width: 90%;
}

.cartridge-center__lower-part {
  width: 90%;
  height: 40%;
  border: 2px solid var(--color-cartridge-secondary-dark);
  background-color: var(--color-cartridge-secondary);

  border-bottom: none;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.cartridge-center__lower-part::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 60%;
  background-color: var(--color-cartridge-secondary-dark);
}

.snes {
  width: 40rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.snes__cartridge-slot {
  height: 2rem;
  width: 90%;
  background-color: var(--color-snes-primary);
  border-bottom: 0.2rem solid var(--color-snes-border);
}

.snes__body {
  width: 100%;
  height: 12rem;
  background-color: var(--color-snes-primary);
  clip-path: polygon(2% 0, 98% 0, 100% 50%, 98% 100%, 2% 100%, 0 50%);
}

.snes-body__middle-line {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 50%;
  left: 0;
  background-color: var(--color-snes-border);
  transform: translateY(-50%);
}

.snes-body__power-indicator {
  position: absolute;
  height: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.2rem solid var(--color-snes-border);
  top: 50%;
  left: 5%;
  background-color: var(--color-snes-border);
  transform: translateY(-50%);
}

.snes-body__raised-part {
  width: 25%;
  aspect-ratio: 0.8;
  border: 2px solid var(--color-snes-border);
  background-color: var(--color-snes-primary);
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.left-part {
  left: 15%;
  z-index: 10;
}

.right-part {
  right: 15%;
  z-index: 10;
}

.snes__purple-button {
  position: absolute;
  top: 6%;
  width: 27%;
  height: 8%;
  background-color: var(--color-snes-button);
  z-index: 1;
}

.left-purple {
  left: 14%;
}

.right-purple {
  right: 14%;
}

.snes-raised-part__center {
  width: 100%;
  height: 33%;
  border: 2px solid var(--color-snes-border);
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snes__controller-connector {
  width: 80%;
  height: 50%;
  background-color: var(--color-snes-secondary);
  border: 2px solid var(--color-snes-border);
  border-radius: 1000px 0 0 1000px;
  display: flex;
  align-items: center;
}

.controller-connector__small-part {
  border-right: 2px solid var(--color-snes-border);
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.controller-connector__large-part {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.connector__dot {
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-snes-border);
}

.snes__stand {
  width: 95%;
  height: 1rem;
  background-color: var(--color-snes-border);
}